#first-line{
    color: rgb(230, 14, 78);
    font-weight: 700;
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-bottom: 50px;
}
#h4{
    color: rgb(20, 207, 231);
    
}


.heading-color{
    color:rgb(241, 16, 16);
}
.header{
    color: rgb(208, 230, 228);
    font-weight: 700;
}
.p{
    color: seashell;
    padding: 20px;
}
.container-work{
    background-image: url(images/bg-pic\ -copy.jpg);
    border-radius: 20px;
    background-size: 50%;
    
    background-repeat: no-repeat;
    background-position: left;
    
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
    clip-path: circle();
    margin-top: 40px;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: rgb(48, 192, 96);
    padding: 10px 40px;
    margin-left: 10px;
    border-radius: 5px;
  
    
}
.impact-computer{
    display: flex;
}
.last-div{
    display: flex;
    padding: 2em;
    text-align: center;
    margin-top: 50px;
    
}
.div-shadow{
    border-radius: 5px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px  40px black;
}
.border{
    border-left:solid 8px greenyellow;
    
}
#slice{
    border-left: lightcoral solid 8px;
}
#footer{
text-align: center;
color: rgb(11, 84, 240);
}
